[submodule "mysite/themes/congo"]
	path = mysite/themes/congo
	url = https://github.com/jpanther/congo.git
	branch = stable
[submodule "mysite/public"]
	path = mysite/public
	url = https://github.com/villaernest/villaernest.github.io
	branch = main
